:root {
    --main-bg-color:#ffc300;
    --secondary-color: #001d3d;
    --primary-text: #000814;
    --secondary-text: #dad7cd;
    --accent-color:#ffd60a;
    --accent2-color: #003566;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--accent2-color), var(--secondary-text));
    padding: 10px;
}

.todo-wrapper {
    background: var(--secondary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    border-radius: 20px;
}

#todo-input {
    width: 80%;
    height: 15%;
}

/* button */
#add {
    font-size: 24px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--accent-color);
    transition: .5s;
    cursor: pointer;
}

#add:disabled {
    background-color: revert;
    cursor: default;
}

.delete-btn {
    background: none;
    color: white;
    border: 1px solid transparent;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    transition: 0.5s;
    cursor: pointer;
}

.delete-btn:hover{
    border-color: white;
    transform: scale(1.2);
}
/*ul Li*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 24px auto;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border: 2px solid black;
    background-color: var(--accent2-color);
    margin: 5px;
}