:root {
    --main-bg-color:#ffc300;
    --secondary-color: #001d3d;
    --primary-text: #000814;
    --secondary-text: #dad7cd;
    --accent-color:#ffd60a;
    --accent2-color: #003566;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

