:root {
    --main-bg-color:#ffc300;
    --secondary-color: #001d3d;
    --primary-text: #000814;
    --secondary-text: #dad7cd;
    --accent-color:#ffd60a;
    --accent2-color: #003566;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#stopwatch {
    display: grid;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    text-align: center;
    grid-column-gap: 12px;
    align-content: center;
    justify-content: center;
    grid-template-areas: 
    "header header header"
    "timer timer timer"
    "start stop reset";
}

h1 {
    margin: -20px 0 0 0;
    grid-area: header;
}

button {
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

#start-btn {
    grid-area: start;
}

#stop-btn {
    grid-area: stop;
}

#reset-btn {
    grid-area: reset;
}

#timer{
    margin: 12px;
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
    grid-area: timer;
}