* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #45badd;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url(/robot.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}